/* section 1 style */


/* smooth scroll*/
/* .hero {

    overflow-y: scroll;
    scroll-behavior: smooth;
}


body {

    overflow-y: hidden;

} */

html {
    overflow: smooth;
}



   
.mainTitle {
    color: white;
    font-stretch: expanded;
    font-size: -webkit-xxx-large;
    font-weight: 900;
    font-family: 'Contrail One', cursive;
    font-size: 70px;
}

.subtitle {
    color: white;
    font-style: italic;
    
}

.inputText {
    color: white;
}

video {
    max-width: none !important;
}


/* brewery api styles */
.brewTitle {
    padding-bottom: 25px;
}

h6 {
    text-decoration: underline;
    
}

#brewbox {
    margin-top: 45px;
    margin-bottom: 45px;
}

#typeBody {
    line-height: 50px;
}

#addressBody{
    line-height: 50px;
}

#numberBody{
    line-height: 50px;
}


/* weather api styles */
#currentWeather {
    text-align: center;
    padding-bottom: 25px;
}

#cityTitle {
    font-weight: bold;
}

#cityDate {
    font-weight: bold;
}

.tileTitles {
    font-family: 'Contrail One', cursive;
}

#weatherTitle {
    padding-bottom: 25px;
}